@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 0;
    font-family: "Inter", sans-serif;

}


.logo{
    color: #0A1222;
    font-size: 30px;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 15px;
    
}
header{
margin-right: 14px;
background-color: #fff;
display: flex;
flex-direction: row;
}
nav{
display: flex;
flex-direction: row;
gap: 70px;
}
nav a{
padding-top: 28px;
color: black;
text-decoration: none;

}
.search-icon{
    font-style: bolder;
    font-size: 35px;
    padding-top: 10px;

}

.btn-nav{
    background-color: #034BFF;
    color: white;
    font-size: 15px;
    height: 50px;
    width: 120px;
    margin-top: 12px;
    border-radius: 7px;
    cursor: pointer;
}

.imgindex{
    height: 540px;
    width: 589px;
   
}

.div1{
    background-color: #08111D;
    width: 1024px; 
    height: 540px;
}

.section1{
    display: flex;
}
.Campus{
color: #034BFF;
padding-top: 30px;
padding-left: 100px;
color:#ffff;
font-size: 90px;
margin: 0;
}
.Life{
    color: #034BFF;
    font-size: 88px;
    padding-left: 100px ;
    padding-bottom: 100px ;
margin: 0;

}

.life-logo{
    display: flex;
}
.egaleicon{
    color: #C7F64A;
    font-size: 66px;
    padding-left: 100px;
    font-weight: bolder;
    margin: 0 0 0 10px;  /* top right bottom left */

}

#texte1{
color: #fff;
font-size: 30px;
margin-top: -100px;
padding-left: 110px;
font-weight: bolder;

}

#texte2{
color: #fff;
font-size: 20px;
margin-top: 10px;
padding-left: 110px;

}


.boutonMain{
    display: flex;
    gap: 40px;
    margin-left: 60px;
}
.decouvrir{
    background-color: #034BFF;
    color: white;
    margin-left: 50px;
    height: 42px;
    width: 184px;
    border-radius: 5px;
    font-size: 16px;
    border: 0px;
    cursor: pointer;
    font-weight: 500;
    
}
.voir{
    background-color: transparent;
    color: white;
    margin-left: 50px;
    height: 42px;
    width: 184px;
    border-color: #8EABFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.iconprinciple{
    display: flex;
    padding: 40px;
    margin-left: 20px;
    margin-top: 25px;
    height: 40px;
    width: 700px;
    align-items: center;
    margin-left: 70px;

}

.A , .S , .Y , .M{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #7a8854;
    text-align: center;
    font-size: 20px;
    font-weight: 700;

}
.A , .Y{
    background-color: #B8C9CF;
}

.S , .M {
    background-color: #D7C3B6;
}

.communauté{
    height: 60px;
    width: 220px;
    margin-left: 100px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff; 
}

.divsection2{
display: flex;
flex-direction: row;
gap: 130px;
align-content: center;
margin-top: 30px;
margin-left: 70px;
}
section span{
    display: flex;
    color: #034BFF;
    height: 36px;
    width: 42px;
    font-weight: 100;
    font-size: 50px;
    align-items: center;
    margin-right: 10px;
}

.divicon1 , .divicon2 , .divicon3 , .divicon4 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.number1 , .number2 ,.number3 , .number4 {
    font-size: 26px;
    color: #0A1222;
    font-weight: 700;
   
}

.text4 , .text3 , .text2 , .text1{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 200px;
    line-height: 1;
    
}

.p1section2 , .p2section2 , .p3section2 , .p4section2 {
    font-size: 400;
    font-weight: 200;
    
}


/*SECTION 4*/

.section3 {
   display: flex; 
   gap: 30px;
   
}

.section3 >div:first-child {
    height: 400px;
    width: 700px;
    margin-top: 40px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.section3  h6 {
    color: #034BFF;
    font-size: large;
    font-weight: 300;
    margin-top: 25px;
}
.section3 h1{
width: 405px;
height: 80px;
font-weight: 800;
font-size: 40px;
letter-spacing: 0%;
}
.section3 p {
    font-size: medium;
    font-weight: 400;
}

.section3 button{
  margin-left: 2px;
}

.section3 > div:last-child{

height: 400px;
width: 700px;
margin-top: 40px;
text-align: center;


}
.section3 img{
    margin-top: 100px;
    border-radius: 5px;
    
}

.pic1{
    rotate: -5deg;
}

.pic2{
    rotate: 7deg;
    z-index: 2;
}

.pic3{
    rotate: 5deg;
    margin-bottom: 50px;
    
}

#t1 , .t2 , #t3{
    background-color: #08111D;
    border: none;
    color: #fff;
    height: 30px;
    width: 160px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 30px;
    position: relative;
}
#t1{
    margin-left: 90px;
    top: -20px;
}
.t2{
    margin-left: 270px;
    top: -50px;
    z-index: 3;
}
#t3{
    margin-left: 460px;
    top: -120px;
    
}



/*SECTION 4*/

.section4{
    height: 320px;
    width: 100%;
    background-color: #08111D;
    color: white;
    align-content: center;
    padding-left: 30px;
   
}

.section4 h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section4 span{
    font-size: 12px;
    color: white;
    margin-left: 15px;
    
}

.section4 h2{
    font-size: 35px;
    margin-bottom: 5px;
}


.tout-steps{
display: flex;
flex-direction: row;
gap: 160px;

}

.step p{
    font-size: 13px;
    font-weight: 100px;
    
}


.step-cercle{
height: 43px;
width: 43px;
border-radius: 50%;
text-align: center;
line-height: 40px;
margin-bottom: 20px;
}

.step:nth-child(1) .step-cercle {
    background-color: #034BFF;
}

.step:nth-child(2) .step-cercle{
    background-color: #034BFF;
}
.step:nth-child(3) .step-cercle{
    background-color: #04B886;
}
.step:nth-child(4) .step-cercle {
    background-color: #6744FF;
}

.step:nth-child(5) .step-cercle {
    background-color: #034BFF; 
}

.step:nth-child(6) .step-cercle{
    background-color: #C7F64A;
}












/* FOOTER */

.footer1{
    height: 300px;
    width: 100%;
    color: white;
    background-color: #101211;
 
}


.footer div{
    display: inline-block;
    margin-right: 140px; 
    margin-top: 70px;
    margin-left: 40px;
}

.footer h1 , .footer h6  {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

.footer h6{
color: #C3F85C;
font-size: 12px;
}

.rejoindre h6{
   height: 40px;
   
}

.footer button{
    height: 63px;
    width: 260px;
    background-color: #C3F85C; 
    font-size: 16px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
footer h4{ 
    line-height: 1.5;
}

.droit{
    margin-top: 30px;
    margin-left: 70px;
    
    
}

.droit p {
    display: inline;
    margin-right: 250px;
    height: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 12px;
}

