*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 0;
}


#logo{
    background-color: black;
}

header{
    white-space: nowrap;
}
header > div{
display: inline-block;


}
.logo{
    background-color: aquamarine;
    width: 20%;
    height: 100px;
    

}

header > .links {
    background-color: rgb(76, 0, 255);
    width: 60%;
    height: 100px;
}
.bouton{
    width: 20%;
    height: 100px;
    background-color:brown ;
}
#hero{
    white-space: nowrap;
    height: 300px;

}

#hero > div:first-child{
width: 48%;

background-color: chocolate;
display: inline-block;


}

#hero> div:last-child{ 
 width: 48%;

background-color: chartreuse;  
display: inline-block;
}


#hero  .links > span{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: darkblue;

}
